html {
  scroll-behavior: smooth;
  margin: 0px;
}

body {
  background: transparent;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.45;
  color: #333;
  background-color: #121212;
}

a {
  text-decoration: none;
}

/* nav a {
  float: left;
  display: flex;
  justify-content: space-evenly;
  color: white;
  text-align: center;
  padding: 20px;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 25px;
  text-decoration: none;
  font-size: small;
  border-radius: 10px;
} */

/* .nav {
  justify-content: space-between;
  
} */

/* form {
  display: block;
  margin-top: 0em;
} */

/* #formFields {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
} */

.navbar {
  background: black;
  margin: 0px;
  margin-top: -10px;
  padding: 1%;
  position: relative;
  right: 1%;
  width: 100%;
}

.navbar h1 {
  color: white;
}
.homeImage {
  background-image: url(https://images.pexels.com/photos/1118448/pexels-photo-1118448.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  height: 100%;
  width: 100%;
  opacity: 1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  right: 0%;
  /* left: 0;
  right: 0;
  top: 0;
  bottom: 0; */
}

.home-content-1 {
  display: flex;
  justify-content: space-between;
  margin-right: 0px;
  margin-bottom: auto;
  margin: 0px;
  align-items: center;
}

/* .home-content-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
} */

.home-content .home-title {
  position: initial;
  padding-left: 15px;
  /* color: #fff; */
  text-align: center;
  text-shadow: 2px 0px rgba(0, 0, 0, 0.2);
}

.home-content .home-title .title {
  /* margin: 0; */
  font-weight: 900;
  line-height: 1.2px;
  letter-spacing: -1px;
  /* text-shadow: 0 20px 30px rgba(0, 0, 0, 0.35); */
  max-width: 400px;
  text-align: left;
  height: auto;
}

.home-content .home-title .title h3 {
  margin: 14px 0 0;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 0.3px;
  text-shadow: 0 10px 30px #000;
  font-weight: 400;
  /* color: #fff; */
  text-align: left;
}

.planning-form-col {
  width: 458px;
  height: 368px;
  margin: auto 0;
}

#planning-form .auto-search-container {
  width: 100%;
}

#planning-form {
  display: flex;
  flex-direction: column;
  background: radial-gradient(white, #c0f1fc);
  box-shadow: 2.5px 2.5px rgba(0, 0, 0, 0.35);
  /* padding: 27.4px; */
  position: relative;
  top: 20%;
  right: 3.5%;
  border-radius: 20px;
  background: #fbfbfb;
  width: 30%;
  padding: 29px;
  z-index: 1;
  margin-top: 15px;
  border: solid 1px #f5f5f5;

  /* transform: none;
  margin: 0;
  position: relative;
  top: auto;
  left: auto;
  height: 100px;
   */
}

#planning-form .steps {
  margin-bottom: 5%;
}

#planning-form .title {
  text-align: center;
  font-weight: 750;
  line-height: 0.9;
  margin-bottom: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.25em;
}

#planning-form .destination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 7px 0 7px 0;
  line-height: 1.1;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  /* height: 22px; */
}

#planning-form .preference-title {
  position: relative;
  margin: 27px 0 4px;
  font-weight: 250;
  font-size: 12px;
  text-decoration: underline;
  line-height: 1.1;
  text-transform: uppercase;
  letter-spacing: 1px;
  height: 22px;
}

#planning-form .preference-title .optional {
  font-weight: 225;
  color: inherit;
}

#planning-form .interests {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
  height: 50px;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
}

#planning-form .interest-column {
  display: flex;
  flex-wrap: wrap;
  float: left;
  flex-basis: 50%;
  justify-content: space-between;
  align-items: center;
  /* padding: 7px 0 7px 0; */
  width: 33.33%;
}

.location {
  position: static;
  bottom: 10%;
}

/* #planning-form .interest-column .label {
  padding: 7px 0 7px 0;
  width: 33.33%;
} */

body input[type='text'] {
  /* opacity: 0; */
  position: relative;
  width: 95%;
  /* height: 0; */
}

body input[type='date'] {
  /* opacity: 0; */
  position: relative;
  width: 45%;
  border-radius: 10px;
  padding: 2px;
  display: flex;
  left: 5px;
  /* height: 0; */
}

label {
  /* float: left; */
  /* text-align: left; */
  margin-left: 15px;
  /* width: 100px; */
}

.container-div {
  display: flex;
}

.description-container {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
}

img {
  border-radius: 18px;
  height: 75px;
  width: 75px;
  padding: 10px;
}

.columns {
  display: flex;
  justify-content: space-between;
}

.recommended-view {
  background-image: url(https://media.gettyimages.com/photos/vacation-holidays-background-wallpaper-summer-beach-tourism-vacation-picture-id686947850?s=2048x2048);
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 0.5%;
  padding-right: 1%;
  padding-left: 1%;
  padding-bottom: 2%;
  position: relative;
  right: 1%;
}

.photo {
  width: 150px;
  height: 90%;
}

.place-description {
  font-size: xx-small;
}

.final-it {
  height: 120%;
}

.itinerary-maps-container {
  display: flex;
}

.final-intinerary-container {
  display: flex;
}

.map {
  position: relative;
  left: 45%;
  top: 10px;
  width: 38%;
  height: 25%;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.35);
}

#app {
  display: flex;
  flex-direction: column;
  /* margin: 0px; */
}

/* .parent-container {
  display: flex;
}
*/

.location-search-input {
  border-radius: 10px;
  padding: 5px;
  display: flex;
  position: absolute;
}

.auto-search-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  text-align: left;
  width: 95%;
  font-size: 10px;
  color: #292b30;
  z-index: 1;

  /* float: left; */
  /* position: relative; */
  /* align-content: stretch; */
}

.autocomplete-downdrop-container {
  display: flex;
  font-size: 10px;
  line-height: 1.1px;
  position: absolute;
  z-index: 5;
}

.image-title {
  position: static;
  left: 8%;
  padding: 2px;
}

.nav-title {
  font-size: 15.5px;
}

.login-nav {
  color: white;
}

.signup-nav {
  color: white;
}

.auth-form {
  display: flex;
  flex-direction: column;
  background: radial-gradient(white, #c0f1fc);
  box-shadow: 2.5px 2.5px rgba(0, 0, 0, 0.35);
  /* padding: 27.4px; */
  position: absolute;
  right: 3.5%;
  top: 2.5%;
  border-radius: 20px;
  background: #fbfbfb;
  width: 30%;
  padding: 29px;
  z-index: 1;
  margin-top: 15px;
  border: solid 1px #f5f5f5;

  /* transform: none;
  margin: 0;
  position: relative;
  top: auto;
  left: auto;
  height: 100px;
   */
}

.auth-title {
  position: absolute;
  top: 19%;
  padding-left: 15px;
  /* color: #fff; */
  text-align: center;
}

.auth-image-title {
  position: relative;
  left: 0%;
  padding: 2px;
  padding-bottom: 2px;
  padding-top: 2px;
}

.logout {
  color: white;
}

.welcome {
  position: relative;
  left: 15px;
}

.auth-email {
  border-radius: 5px;
  width: 90%;
  position: relative;
}

.auth-title-2 {
  font-weight: bolder;
  font-size: 25px;
  text-transform: uppercase;
  position: relative;
  left: 37%;
}

.three {
  display: flex;
  justify-content: space-evenly;
}

.one {
  text-shadow: 0 20px 30px rgba(0, 0, 0, 0.35);
  position: relative;
  font-weight: bold;
  right: 9%;
}

.two {
  text-shadow: 0 20px 30px rgba(0, 0, 0, 0.35);
  position: relative;
  font-weight: bold;
  left: 1%;
}

.select {
  box-shadow: 2px 2px rgba(0, 0, 0, 0.35);
  background-color: rgb(166, 176, 209);
  position: relative;
  right: 65%;
  font-weight: bolder;
  color: rgb(211, 57, 57);
  border: rgb(190, 87, 87);
  height: 22px;
  border-radius: 5px;
}

.generate {
  box-shadow: 2px 2px rgba(0, 0, 0, 0.35);
  position: relative;
  right: 46%;
  background-color: rgb(23, 37, 82);
  font-weight: bolder;
  color: rgb(190, 87, 87);
  border: rgb(190, 87, 87);
  height: 22px;
  border-radius: 5px;
}

.create {
  text-shadow: 2px 0px rgba(0, 0, 0, 0.2);
}

.save {
  position: absolute;
  left: 45%;
  top: 18%;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.35);
  background-color: rgb(166, 176, 209);
  font-weight: bolder;
  color: white;
  border: rgb(190, 87, 87);
  height: 30px;
  border-radius: 5px;
}

.it-title {
  position: relative;
  left: 10%;
  bottom: 4%;
  padding: 2px;
  text-shadow: 2px 0px rgba(0, 0, 0, 0.2);
}

.final-flex {
  display: flex;
  flex-direction: row;
}

.submit {
  box-shadow: 5px 5px rgba(0, 0, 100, 0.05);
  font-weight: bolder;
}

.user-home-container {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

.itinerary-history-details-container {
  /* display: flex; */
  flex-direction: column;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
  left: 5em;
}
.itinerary-history-details-container > h4 {
  text-decoration: underline;
}
.itinerary-details {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 10px;
  justify-content: space-between;
  height: 100px;
  margin: 10px;
  padding: 5px;
}
.itinerary-details > img {
  width: 10em;
  height: 90%;
  border-radius: 15px;
}

ul {
  padding-inline-start: 0px;
}

.nav-button-after-login {
  color: white;
}

.userHomeImage {
  background-image: url(https://images.unsplash.com/photo-1512453979798-5ea266f8880c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
  height: 100%;
  width: 100%;
  opacity: 1;
  /* background-position: center center; */
  background-repeat: no-repeat;

  /* right: 0%; */
  background-attachment: fixed;
  padding-top: 2%;
  padding-right: 1%;
  padding-left: 0%;
  padding-bottom: 2%;
  position: relative;
  background-size: cover;
}
